<h4>High resistance between mounted electrical component and trace</h4>
            <p>The problem might be solved by applying some force on the connection to make sure the component is mounted securely on the paper substrate! If the problem persists, perform the following steps. </p>
            <ol>
                <li>Remove mounted electronic component and discard the z-tape (if using the circuit sticker, we suggest peeling off the existing z-tape on the bottom of the sticker and apply new one). </li>
                <li>Deposit more conductive ink on connecting pads and surrounding trace. Let dry.
                 <%= image_tag "/decrease_conductance.gif", :width => "50%", :class=> "center-block" %>
                 
                </li>
                <li>Reapply the electronic component with new z-tape. 
                <%= image_tag "/fix_connections.gif", :width => "50%", :class=> "center-block" %>
              </li>
            </ol>
            <br class="clearfix">