<script type="text/javascript">
$(function() {
  $('.exit').click(function(){
    $('#fab-tool').click();
  });
});
</script>

<div id="debug-guide" class="guide-container col-xs-3 pull-right">
  <h5 class="text-center"> RESULTS </h5>
  <ul class="list-group">
   
  </ul>
</div>


<!-- 
  <p>
          Set your multimeter to continuity mode. 
        <p>
        <p>
            Apply probes to LED#1 negative and LED#1 positive locations. 
        </p>
        <p>
          Is it continuous?
        </p> -->

<!-- <div id="confirm">
        <p>
          Has your LED#1 turned on?
        </p>
        <div class="pull-right btn-group">
          <button class="exit btn btn-sm btn-success">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>
    </div> -->
