<script type="text/javascript">
var guides = eval(<%= @guides.to_json.html_safe %>);

$(function(){
  var fg = new FabricationGuide($('#fab-guide'), guides, $('.list-group-item.template'));
});
function FabricationGuide(dom, guides, item_template){
  this.dom = dom;
  this.guides = guides;
  this.template = item_template;
  this.init();
}

FabricationGuide.prototype = {
  init: function(){
    var self = this;
    _.each(self.guides, function(el, i, arr){
      var isCheckpoint = el.guide_type == "Checkpoint";
      var isConfirmation = el.guide_type == "Confirmation";

      var cloned = self.template.clone();
      cloned.removeClass('template')
      cloned.find('.body-text')
            .html(el.main_message);
      if(isConfirmation) cloned.find('.checkpoint').remove();
      if(isCheckpoint) cloned.find('.confirm').remove();
      cloned.find
      cloned.appendTo(
                self.dom
                    .find("#steps")
                    );
    });
    return this;
  },
  show: function() {
    this.dom.show();
    return this;
  }, 
  hide: function() {
    this.dom.hide();
    return this;
  }
}
</script>

<style type="text/css">
  .template{
    display: none;
  }


  .guide-container {
    border: #999 1px solid;
    background: #484848;
    border-left: 3px solid #5d5d5d;
    border-right: 3px solid #5d5d5d;
    padding: 4px;
    padding-top: 22px;
    z-index: 200; 
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
      .guide-container  label{
        font-family: "Helvetica", "Arial", sans-serif;
        font-weight: bold;
        color: #ddddd;
        font-size: 6.43pt;
        margin: 2px;
        margin-top: -16px;

        position: absolute;
      }
       .guide-container  .list-group-item{
          background-color: rgb(93, 93, 93);
          border-color: #4d4d4d;
        }
        .guide-container  p{
          width: 75%;
          display: inline-block;
        }

  #confirm{
    margin: -6px;
    padding: 20px;
    background: #333;
  }

  .list-group-item .title{
    font-weight: bold;
  }

</style>
<!-- ITEM TEMPLATE -->
<li class="list-group-item template">
  <p class="body-text">Some message. </p>
  <div class="fab-options btn-group pull-right">
    <button class="checkpoint btn btn-sm btn-success"><span class="glyphicon glyphicon-check"></span></button>
    <button class="confirm btn btn-sm btn-warning"><span class="glyphicon glyphicon-ok"></span></button>
    <button class="confirm btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
</li>
<!-- END ITEM TEMPLATE -->



<!-- GUIDE -->
<div id="fab-guide" class="guide-container col-xs-3 pull-right">
  <label class="text-shadowed"> FABRICATION GUIDE </label>
  <div id="steps">
    <ul class="list-group">
        <!-- STEPS GO HERE -->
    </ul>
  </div>
</div>
<!-- END GUIDE -->
