<div id="sidebar" class="shadowed col-xs-4">
    <div id="main-title" class="title shadowed row">
      <h4 class="col-xs-12 shadowed-text"> Form Design </h4>
    </div>
    <div id="stat-box">
     
      <span class="glyphicon glyphicon-print"></span> 4 hr 30 min &nbsp;
      | &nbsp; <span class="glyphicon glyphicon-time"></span> 30 min &nbsp;
      | &nbsp; <span class="glyphicon glyphicon-paperclip"></span> 1.5 m 
     
    </div>
    <label> Gauge: </label> 
    <select id="materials" class="form-control">
      <option data-gauge="17" data-color="#666" > None </option>
      <option data-gauge="14" data-color="#ADB2BD" > 14AWG - ALUMINUM </option>
      <option data-gauge="18" data-color="#C0C0C0" > 18AWG - SILVER </option>
      <option data-gauge="20" data-color="#C0C0C0" > 20AWG - SILVER </option>
      <option data-gauge="20" data-color="#CDAD00" > 20AWG - GOLD </option>
      <option data-gauge="24" data-color="#ADB2BD" > 24AWG - SILVER </option>
      <option data-gauge="28" data-color="#CDAD00" > 28AWG - GOLD </option>
      <option data-gauge="32" data-color="#B5A642" > 32AWG - BRASS </option>
    </select>  
    

    <div class="row">
    <label class="col-xs-12"> Termination Points </label>
    <div class="col-xs-6">
     <select class="form-control">
      <option> Extend </option>
      <option> Spiral </option>
      <option> Coil Loop </option>
      <option> Simple Loop </option>
     </select>  
    </div>
    <div class="col-xs-6">
     <select class="form-control">
      <option> Extend </option>
      <option> Spiral </option>
      <option> Coil Loop </option>
      <option> Simple Loop </option>
     </select>  
    </div>
  </div>
  <label> Weight: </label> 
     <select class="form-control">
      <option> Uniform </option>
      <option> Tapered </option>
      <option> Unitapered</option>
     </select>  

    <footer>
      <%= button_tag :id=> "coil_button", :class => "btn btn-danger btn-sm" do %>
        <span class="glyphicon glyphicon-upload"> </span> Upload Design
      <% end %>
       <%= button_tag :id=> "Save", :class => "btn btn-success btn-sm" do %>
        <span class="glyphicon glyphicon-save"> </span> Save
      <% end %>
       <%= button_tag :id=> "Print", :class => "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-print"> </span> Print
      <% end %>
    </footer>
</div>
</div>