$mira: #913D88;
.btn-mira{
  color: white;
  background-color: $mira;
  border-color: $mira;
}
.btn-mira:hover{
  color: white;
  background-color: darken( $mira, 10% );
  border-color: $mira;
}
.btn-mira:active{
  color: white;
  background-color: darken( $mira, 10% );
  border-color: $mira;
}

*{
  font-family: "museo-sans",sans-serif;
}
.btn-warning{
    color: white !important;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
}

#alerter{
  position: absolute;
  top: 200px;
  margin-right: 5px;
  z-index: 1000;
}


body, html{
  width: 100%;
  height: 100%;
  background: #666;
  margin: 0;
}
label{
  margin-top: 8px;
}
#interface-container{
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #CFF4FF;
}
 #sandbox{
      margin: 0 auto;
      /*margin-top: 100px;*/
      position: relative;
      /*top: -20px;*/
      height: 100%;
      margin: 0;
      padding: 0;
      /*width: 100%;*/
      /*border: #DDD solid 3px;*/

  }
  #zoom-ui{
    /*position: absolute;*/
    /*margin: 10px;*/
    /*z-index: 200;*/
  }
#sidebar{
  position: relative;
  background: #F1FCFE;
  height: 100%;
  padding-bottom: 15px;
}
  #sidebar .title{
    background: #4FB896;
    color: white;
    margin-bottom: 15px;
  }
  #sidebar .title h4{
    text-align: center;
    text-transform: uppercase;
  }
  #sidebar footer{
    width: 93%;
    border-top: 2px solid #DDD;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    margin: 10px auto;
  }
  #stat-box{
    border: solid 2px #CCC;
    padding: 8px 10px;
  }
   
.shadowed-text {
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.8);
}


.text-shadowed{
  text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.8);
}
.shadowed{
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.29);
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.29);
}