<div class="grid_12 alpha">
	<!-- DESCRIPTION -->
	<div class="grid_12">
		<h2> Ellustrate </h2>
		<p class='lead'>
			<em> 
				Designing pretty circuitry. 
			</em> 
			<address>
			  <strong>Joanne Lo</strong><br>
			  jolo@adobe.com <br>
			</address>
			<address>
			  <strong>Cesar Torres</strong><br>
			  torres@adobe.com <br>
			</address>
			<address>
			   <strong>Wil Li</strong><br>
			  wilmot@adobe.com <br>
			</address>
			<address>
			<strong>Danny Kaufman</strong><br>
			  kaufman@adobe.com <br>
			</address>
			<address>
			  <strong>Mira Dontcheva</strong><br>
			  mirad@adobe.com <br>
			</address>
			
		</p>
		<% link_to  jig_interface_path(6, {mode: "draw"}), :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-edit"> </span> Design
		<% end %>
		<%= link_to  new_design_path(), :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-edit"> </span> Design
		<% end %>
		</p>
	</div>



</div>

