<div class="grid_12 alpha">
	<!-- DESCRIPTION -->
	<div class="grid_12">
		<h2> Proxies </h2>
		<p class='lead'>
			<em> 
				Exploring the space of DF proxies. 
			</em> 
			<address>
			  <strong>Cesar Torres</strong><br>
			  torres @adobe.com <br>
			</address>
			<address>
			   <strong>Wil Li</strong><br>
			  wilmot@adobe.com <br>
			</address>
		</p>
		<%= link_to pic2stl_path, :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-download"> </span> PIC2STL
		<% end %>
		</p>
	</div>



</div>

