<div class="row">
	<!-- DESCRIPTION -->
	<div class="col-xs-6 col-sm-4">
		<% image_tag "/ellustrate.png", :width => "100%" %>
		<p class='lead'>
			<address>
			  <strong>Cesar Torres, Neil Kumar, Eric Paulos</strong><br>
			  <code>[cearto, neilkumar101, paulos]@berkeley.edu </code><br>
			</address>
		</p>
	</div>
	<div class="col-xs-6 col-sm-">
		<h2> Criticon </h2>
		<p><em> Critique and project documentation tool for studio-based instruction at scale</p>
		<p>
			--
		</p>
		
		<p class="lead">
			<h3> Web Application </h3>
			<p class="lead"> Try out the <em>Criticon</em> Circuit Sketching and Fabrication Tool. </p>
			<% link_to "#", :class=> "btn btn-primary" do %>
				<span class="glyphicon glyphicon-edit"></span>
				Criticon Tool
			<% end %>
			<br/>
			<br/>
			<div class="well">
				Criticon is under development.
			</div>
		</p> 

		
	</div>


	
</div>

