<!-- ITEM TEMPLATE -->
<li id="item-template" class="list-group-item template">
  
  <p class="body-text col-xs-9">Some message. </p>

  <div class="fab-options col-xs-3">
    <div class="btn-group pull-right">
        <button class="checkpoint btn btn-sm btn-success"><span class="glyphicon glyphicon-check"></span></button>
      <button class="check confirm btn btn-sm btn-warning"><span class="glyphicon glyphicon-ok"></span></button>
      <button class="error confirm btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <br class="clearfix">
    <br>
    <div class="timer input-group">
        <input type="number" class="btn-sm form-control" value="10">
        <span class="input-group-btn">
            <button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-time"></span></button>
        </span>
    </div><!-- /input-group -->
  </div>
  

  <br class="clearfix">
  <div class="history">
     <button class="history-prev btn btn-xs btn-ellustrator pull-left">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>
     <button class="history-next btn btn-xs btn-ellustrator pull-right">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>
</li>
<!-- END ITEM TEMPLATE -->
<!-- ITEM TEMPLATE -->
<li id="end-item-template" class="list-group-item template">
  <p class="body-text"> <strong>CONGRATS!</strong> You have fabricated your design. </p>
</li>
<!-- END ITEM TEMPLATE -->


<!-- GUIDE -->
<div id="fab-guide" class="guide-container expanded col-xs-3 pull-right">
  <label class="text-shadowed"> FABRICATION GUIDE </label>
  <div id="steps">
    <ul class="list-group">
        <!-- STEPS GO HERE -->
    </ul>
  </div>
</div>
<!-- END GUIDE -->